::-webkit-selection {
  background:#f4ede3;
  color:#111;
}
::-moz-selection {
  background:#f4ede3;
  color:#111;
}
::selection {
  background:#f4ede3;
  color:#111;
}

object,
video {
  border:0;
  max-width:100%;
}

iframe {
  width: 100%!important;
  vertical-align: bottom;
}

img {
  border:0;
  -ms-interpolation-mode: bicubic;
  vertical-align:middle;
  max-width:100%;
}

.vsuallyhidden {
  text-indent:-99999em;
  outline:0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  box-sizing: border-box; /* Opera/IE 8+ */
}

html {
  background: #fff;
  height: 100%;
  font-family: $font-family-base;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: 300;
  color: $text-color;
  background-color: $body-bg;
  &:after {
    background: red;
    color: #fff;
    content: "column";
    right: 0;
    padding: .5em 1em;
    position: fixed;
    text-align: center;
    top: 0;
    z-index:50;
    @include xsmall {
      background: red;
      content: "xsmall";
    }
    @include small {
      background: pink;
      content: "small";
    }
    @include medium {
      background: purple;
      content: "medium";
    }
    @include large {
      background: green;
      content: "large";
    }
    @include xlarge {
      background: blue;
      content: "xlarge";
    }
    @include xxlarge {
      background: orange;
      content: "xxlarge";
    }
  }
}

.container-fluid {
  > .row {
    @include large {
      max-width:75em/*1200px/16*/;
      margin-left:auto;
      margin-right:auto;
    }
  }
}

hr {
  background:$alto;
  border:none;
  height: 1px;
  margin:$baseline*2 0;
  overflow: hidden;
  position: relative;
  width: 100%;
  clear:both;
}

main {
  padding-top: 28px;
}
