/*media queries*/
@mixin xsmall            { @media (min-width: $screen-xs-min) { @content; }}
@mixin xsmall-only       { @media (max-width: $screen-xs-max) { @content; }}
@mixin xsmall-small-only { @media (min-width: $screen-xs-max) and (max-width: $screen-sm-min) { @content; }}
@mixin small             { @media (min-width: $screen-sm-min) { @content; }}
@mixin small-only        { @media (max-width: $screen-sm-max) { @content; }}
@mixin small-medium-only { @media (min-width: $screen-sm-max) and (max-width: $screen-md-min) { @content; }}
@mixin medium            { @media (min-width: $screen-md-min) { @content; }}
@mixin medium-only       { @media (max-width: $screen-md-max) { @content; }}

@mixin large             { @media (min-width: $screen-lg-min) { @content; }}
@mixin xlarge            { @media (min-width: $screen-xlg-min) { @content; }}
@mixin xxlarge           { @media (min-width: $screen-xxlg-min) { @content; }}

/*sprite position*/
@mixin sprite($bgcolor, $pos1: 0, $pos2: 0) {
  background: $bgcolor url('../../img/sprites/sprite.png') no-repeat $pos1 $pos2;
  background: $bgcolor url('../../img/sprites/sprite.svg') no-repeat $pos1 $pos2;
}

/*standard transition - preload avoids transition on page load (js in head of page)*/
.preload * {
  transition: all none;
}
/*standard transition*/
@mixin trans {
  transition:
  background-color .35s ease-in-out,
  opacity .25s ease-in-out,
  border .25s ease-in-out,
  color .25s ease-in-out,
  box-shadow .25s ease-in-out,
  text-shadow .25s ease-in-out,
  text-decoration-color .25s ease-in-out;
}

.img-border {
  border:1px solid rgba(0,0,0,.45);
}
@mixin img-border {
  border:1px solid rgba(0,0,0,.45);
}
@mixin img-border-link {
  border:1px solid rgba(0,0,0,.45);
}
@mixin img-border-link-hover {
  border:1px solid rgba(0,0,0,1);
}

@mixin nav-reset {
  margin:0;
  padding: 0;
  li {
    margin-left: 0;
    padding-left:0;
  }
}

.padding-top {
  padding-top:$baseline;
}
.padding-top-large {
  padding-top:$baseline*2;
}
.padding-bottom {
  padding-bottom:$baseline;
}
.padding-bottom-large {
  padding-bottom:$baseline*2;
}

.margin-top-none {
  margin-top:0;
}

.margin-bottom-none {
  margin-bottom:0;
}

.margin-top {
  margin-top:$baseline;
}
.margin-top-small {
  margin-top:$baseline/2;
}
.margin-top-large {
  margin-top:$baseline*2;
}
.margin-bottom {
  margin-bottom:$baseline;
}
.margin-bottom-large {
  margin-bottom:$baseline*2;
}
.margin-bottom-single {
  margin-bottom:$baseline;
  @include small {
    margin-bottom:0;
  }
}

.border-top {
  border-top:1px solid $alto;
}
.border-bottom {
  border-bottom:1px solid $alto;
}

.blockout {
  background: $brand-primary-light;
}
.blockout-gradient-top {
  @include gradient-vertical($brand-primary-light, #fff, 0%, 100%);
}
.blockout-padding-top {
  padding-top:$baseline*2;
  @include medium {
    padding-top:$baseline*3;
  }
}
.blockout-padding-top-small {
  padding-top:$baseline*2;
}
.blockout-padding-top-large {
  padding-top:$baseline*2;
  @include medium {
    padding-top:$baseline*7;
  }

}
.blockout-padding-bottom {
  padding-bottom:$baseline*2;
  @include medium {
    padding-bottom:$baseline*3;
  }
}
.blockout-padding-bottom-small {
  padding-bottom:$baseline*2;
}
.blockout-padding-bottom-large {
  padding-bottom:$baseline*6;
}