/* Heading text: Josefin Sans - Google fonts */
@mixin heading_light {
  font-family: serif; font-weight:300; font-style:normal;
  .wf-josefinsans-n3-active & { font-family:$headings-font-family; }
}
@mixin heading_regular {
  font-family: serif; font-weight:400; font-style:normal;
  .wf-josefinsans-n4-active & { font-family:$headings-font-family; }
}
@mixin heading_bold {
  font-family: serif; font-weight:700; font-style:normal;
  .wf-josefinsans-n7-active & { font-family:$headings-font-family; }
}

/* Body text: Open Sans - Google fonts */
@mixin sansserif_light {
  font-family: sans-serif; font-weight:300; font-style:normal;
  .wf-opensans-n3-active & { font-family: $font-family-sans-serif; }
}
@mixin sansserif_regular {
  font-family: sans-serif; font-weight:400; font-style:normal;
  .wf-opensans-n4-active & { font-family: $font-family-sans-serif; }
}
@mixin sansserif_bold {
  font-family: sans-serif; font-weight:600; font-style:normal;
  .wf-opensans-n6-active & { font-family: $font-family-sans-serif; }
}

body {
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top:18px;
    margin-bottom:$baseline/2.75;
    a {
      @include heading_regular;
    }
    strong,
    b {
      @include heading_regular;
    }
    span {
      @include heading_light;
      font-size: 0.68em;
    }
  }
}
h1 {
  font-size: $font-size-h1-small;
  @include small {
    font-size: $font-size-h1;
  }
  &.h1-promote {
    font-size: ceil($font-size-base*2.2);
    margin-bottom: $baseline/2;
    @include small {
      font-size: ceil($font-size-base*3);
      margin-bottom: $baseline/4;
    }
  }
  &.margin-bottom {
    margin-bottom: $baseline/2;
  }
  &.margin-bottom-large {
    margin-bottom: $baseline;
  }
}
h2 {
  font-size: $font-size-h2-small;
  @include small {
    font-size: $font-size-h2;
  }
  &.h2-promote {
    font-size: ceil($font-size-base*2.4);
    margin-bottom: $baseline/4;
    @include small {
      font-size: ceil($font-size-base*2.6);
    }
  }
}
h3 {
  font-size: $font-size-h3-small;
  @include small {
    font-size: $font-size-h3;
  }
  &.h3-promote {
    @include heading_bold;
    padding-bottom: $baseline/2;
    margin-bottom: $baseline/1.5;
  }
}
h4 {
  font-size: $font-size-h4-small;
  @include small {
    font-size: $font-size-h4;
  }
}
h5 {
  font-size: $font-size-h5-small;
  @include small {
    font-size: $font-size-h5;
  }
}
h6 {
  font-size: $font-size-h6-small;
  @include small {
    font-size: $font-size-h6;
  }
}

.heading-title {
  font-size: floor($font-size-base*0.95);
  @include heading_bold;
  text-transform: uppercase;
  margin-bottom: 18px;
}

h2.heading-title {
  font-size: floor($font-size-base*1.8);
  margin-bottom: 28px;
}

.heading-sub {
  @include heading_light;
  margin-bottom:$baseline/1.6;
  font-size: ceil($font-size-base*1.5);
  @include xsmall {
    font-size: ceil($font-size-base*1.9);
    line-height: 1.4em;
  }
  strong {
    @include heading_regular;
  }
  &.margin-bottom {
    margin-bottom:$baseline*1.5;
  }
  &.margin-bottom-large {
    margin-bottom:$baseline*2;
  }
}

.heading-sub-text {
  @include heading_light;
  margin-bottom:$baseline/1.6;
  font-size: ceil($font-size-base*1.4);
  @include xsmall {
    font-size: ceil($font-size-base*1.6);
  }
  strong {
    @include heading_regular;
  }
  &.margin-bottom {
    margin-bottom:$baseline*1.5;
  }
  &.margin-bottom-large {
    margin-bottom:$baseline*2;
  }
}

.heading-meta {
  line-height: 1.1em;
  position:relative;
  overflow: hidden;
  width: 100%;
  @include small {
    margin-bottom: $baseline/2;
  }
  em {
    border-radius:100%;
    width: 68px;
    height: 68px;
    line-height: 64px;
    @include sansserif_bold;
    font-size: ceil($font-size-base*1.35);
    text-align: center;
    border:1px solid $gray-light;
    //color: #000;
    display: block;
    margin-bottom: 28px;
    @include xsmall {
      margin-right: 25px;
      display: inline-block;
      float: left;
    }
    @include small {
      margin-bottom: 0;
    }
  }
  span {
    @include heading_light;
    font-size: ceil($font-size-base*1.6);
    @include xsmall {
      position: relative;
      top: 16px;
    }
  }
}

em {
}

p,
ul,
ol {
  margin-bottom:$baseline*1.2;
  margin-top:0;
  strong,
  b {
    //color: #000;
    a {
    }
  }
}

strong,
b {
  @include sansserif_regular;
}
small {
  font-size: $font-size-small;
  @include sansserif_light;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: none;
}

mark {
  background: rgba(0,0,0,.085);
  border-radius: 4px;
  padding:4px 10px;
  margin-left: 4px;
  margin-right: 4px;
}

.monospace,
code,
kbd,
samp,
var {
  font-size: inherit;
}

dfn,
var {
  color:#000;
  @include sansserif_regular;
  font-style: italic;
}

kbd {
  padding:4px 6px;
  border-radius:4px;
  border:1px solid $gray-lighter;
}

pre {
  margin-top: $baseline;
  margin-bottom: $baseline;
}

code {
  color: #d00000;
}

/*default link styles */
body a {
  color:$link-color;
  text-decoration:underline;
  text-decoration-color: #808080;
  @include trans;
  @include sansserif_regular;
  &:hover {
    color:$link-hover-color;
    text-decoration:underline;
    text-decoration-color: $brand-primary-darken;
  }
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6  {
    color:$link-color;
    text-decoration:none;
    &:hover {
      color:$link-hover-color;
      text-decoration:underline;
    }
  }
}

a.tel {
  cursor:text;
  color: $text-color;
  text-decoration:none;
  @include sansserif_light;
  &:hover {
    text-decoration:none;
    color: $text-color;
  }
}

ul {
  margin-left:25px;
  padding-left:0;
  li {
    margin:0 0 12px 0;
    padding-left:10px;
    ul {
      margin-top: 12px;
      padding-left:0;
      margin-left: 15px;
      li {
        padding-left:6px;
        margin-bottom: 4px;
      }
    }
  }
}

ol {
  counter-reset: item;
  display: block;
  padding-left:0;
  margin-left:0;
  li {
    margin:0 0 12px 0;
    padding-left:8px;
    display: block;
    &:before {
      content: counters(item, ".") ".";
      counter-increment: item;
      padding-right: 10px;
      @include sansserif_regular;
    }
    ol {
      margin-top: 12px;
      padding-left:0;
      margin-left: 15px;
      li {
        padding-left:6px;
        margin-bottom: 4px;
      }
    }
  }
}

.text-center,
.text-right {
  @include small-only {
    text-align: left;
  }
}