@media only screen and (min-width: 480px) {
  #slider-carousel.owl-carousel .owl-stage {
    display: flex;
    height: 280px; }

  #slider-carousel.owl-carousel .owl-item img {
    width: auto;
    height: 280px; } }
