/*media queries*/
#toggleNav.iconbar {
  background: transparent url("../../img/icons/menu-iconbar.png") no-repeat 0 0; }
  #toggleNav.iconbar.active {
    background: transparent url("../../img/icons/menu-iconbar.png") no-repeat -50px 0; }

a.social-icon.si-twitter {
  background: transparent url("../../img/icons/social-twitter.png") no-repeat 50% 50%; }
a.social-icon.si-facebook {
  background: transparent url("../../img/icons/social-facebook.png") no-repeat 50% 50%; }
a.social-icon.si-instagram {
  background: transparent url("../../img/icons/social-instagram.png") no-repeat 50% 50%; }
a.social-icon.si-linkedin {
  background: transparent url("../../img/icons/social-linkedin.png") no-repeat 50% 50%; }

body {
  background-color: black; }
  body a {
    color: orange;
    text-decoration-color: orange; }
    body a:hover {
      color: yellow;
      text-decoration-color: yellow; }
    body a h1, body a h2, body a h3, body a h4, body a h5, body a h6,
    body a .h1, body a .h2, body a .h3, body a .h4, body a .h5, body a .h6 {
      color: orange; }
      body a h1:hover, body a h2:hover, body a h3:hover, body a h4:hover, body a h5:hover, body a h6:hover,
      body a .h1:hover, body a .h2:hover, body a .h3:hover, body a .h4:hover, body a .h5:hover, body a .h6:hover {
        color: yellow; }

a.tel {
  color: blue; }
  a.tel:hover {
    color: blue; }

.listings-standard .ls-item a.ls-item-linked:hover h3 {
  color: yellow; }

.listings-content .lc-item .lc-item-wrap h3 a {
  color: orange; }
  .listings-content .lc-item .lc-item-wrap h3 a:hover {
    color: yellow; }
.listings-content .lc-item .lc-item-wrap a h3 {
  color: orange; }
.listings-content .lc-item .lc-item-wrap a:hover h3 {
  color: yellow; }
.listings-content .lc-item .lc-item-action a {
  color: orange; }
  .listings-content .lc-item .lc-item-action a:hover {
    color: yellow; }

.listings-promote .lp-item .lp-item-wrap h3 a {
  color: orange; }
  .listings-promote .lp-item .lp-item-wrap h3 a:hover {
    color: yellow; }
.listings-promote .lp-item .lp-item-wrap a h3 {
  color: orange; }
.listings-promote .lp-item .lp-item-wrap a:hover h3 {
  color: yellow; }
.listings-promote .lp-item .lp-item-action a {
  color: orange; }
  .listings-promote .lp-item .lp-item-action a:hover {
    color: yellow; }

.breadcrumb > li + li:before {
  color: blue; }
.breadcrumb > li a {
  color: orange; }
  .breadcrumb > li a:hover {
    color: yellow; }
.breadcrumb > .active {
  color: blue; }

.navList ul li.nav-promote {
  color: white;
  background: red;
  border-color: red; }
  .navList ul li.nav-promote a {
    color: white; }
    .navList ul li.nav-promote a:hover {
      color: red; }

a.nav-promote {
  color: white;
  background: red;
  border-color: red; }
  a.nav-promote:hover {
    color: red;
    background: white;
    border-color: white; }

p a.button,
a.button,
.btn,
.form-submit {
  color: white;
  background: green;
  border-color: green; }
  p a.button:hover,
  a.button:hover,
  .btn:hover,
  .form-submit:hover {
    color: green;
    background: white;
    border-color: white; }
  p a.button.btn-reverse,
  a.button.btn-reverse,
  .btn.btn-reverse,
  .form-submit.btn-reverse {
    color: white;
    background: green;
    border-color: green; }
    p a.button.btn-reverse:hover,
    a.button.btn-reverse:hover,
    .btn.btn-reverse:hover,
    .form-submit.btn-reverse:hover {
      color: green;
      background: white;
      border-color: white; }

.form-blockout {
  border-color: pink; }
  .form-blockout .form-blockout-heading {
    border-bottom-color: pink; }

.form-blockout-content .fbc-panel .fbc-panel-listing {
  border-bottom-color: pink; }

.form-checkout-action-item a.btn {
  color: white;
  background: green;
  border-color: green; }
.form-checkout-action-item.btn-reverse {
  color: white;
  background: green;
  border-color: green; }
  .form-checkout-action-item.btn-reverse:hover {
    color: green;
    background: white;
    border-color: white; }

.form-meta .form-meta-supp {
  border-top-color: pink; }

.border-top {
  border-top-color: pink; }

.border-bottom {
  border-bottom-color: pink; }

.blockout {
  background: purple; }

.cookiealert {
  background: green; }
  .cookiealert h5 {
    color: pink; }
  .cookiealert .btn-inline {
    color: yellow; }
    .cookiealert .btn-inline:hover {
      color: yellow; }
  .cookiealert .btn {
    color: white;
    background: black;
    border-color: black; }
    .cookiealert .btn:hover {
      color: green;
      background: green;
      border-color: green; }

.btn-accordion {
  color: white;
  background: green;
  border-color: green; }
  .btn-accordion:hover {
    color: green;
    background: white;
    border-color: white; }

#hero-owl,
#hero-two {
  background: purple;
  border-top-color: 1px solid purple;
  border-bottom-color: 1px solid purple; }

@media (min-width: 768px) {
  #hero-static:before {
    background: purple; } }

.panel-imagery-strip {
  background: purple;
  border-top-color: 1px solid purple;
  border-bottom-color: 1px solid purple; }

blockquote.blockquote-promote {
  border-color: white;
  background: yellow; }
  blockquote.blockquote-promote p,
  blockquote.blockquote-promote cite {
    color: green; }

body {
  background-color: body-bg;
  color: blue; }
  body h1, body h2, body h3, body h4, body h5, body h6,
  body .h1, body .h2, body .h3, body .h4, body .h5, body .h6 {
    color: orange; }

#branding {
  background-color: #ccc;
  border-bottom-color: #ccc; }

.navList ul li a {
  color: green; }
  .navList ul li a:hover {
    color: green; }

/*footer background*/
#siteinfo,
#siteinfo.blockout {
  background: orange;
  color: white; }
  #siteinfo * a,
  #siteinfo.blockout * a {
    color: pink; }

.listing-reward .listing-reward-item {
  color: yellow;
  background: blue;
  border-color: pink; }

.definition-list .dl-item {
  border-bottom-color: pink; }

.listings-blockquote .blockquote-item {
  border: yellow;
  background: blue; }
  .listings-blockquote .blockquote-item blockquote.blockquote-listing:before {
    background-color: white; }
  .listings-blockquote .blockquote-item blockquote.blockquote-listing .bl-rating {
    color: pink; }
  .listings-blockquote .blockquote-item blockquote.blockquote-listing p,
  .listings-blockquote .blockquote-item blockquote.blockquote-listing li,
  .listings-blockquote .blockquote-item blockquote.blockquote-listing footer,
  .listings-blockquote .blockquote-item blockquote.blockquote-listing cite {
    color: pink; }

.border-top {
  border-top: 1px solid pink; }

.border-bottom {
  border-bottom: 1px solid pink; }
