//instagram panel
#slider-carousel.owl-carousel {
  .owl-item {
    img {
      margin-bottom: 0;
    }
  }
  .owl-stage {
    display: flex;
    height: 280px;
  }
  .owl-item img {
    width: auto;
    height: 280px;
    max-width: inherit;
  }
}
//flush imagery strip
#slider-imagery-strip.owl-carousel {
  .owl-item {
    img {
      margin-bottom: 0;
      max-width: inherit;
    }
  }
  .owl-stage {
    display: flex;
    height: 280px;
    max-width: inherit;
  }
  .owl-item img {
    width: auto;
    height: 280px;
    max-width: inherit;
  }
}
#slider-hero {
  .owl-item {
    img {
      margin-bottom: 0;
      max-width: inherit;
    }
  }
}