@import "../core/bootstrap/bootstrap-variables";
@import "../core/mediaqueries";

//custom theme variables
$header-bg: #ccc;
$header-border: #ccc;
$header-link-color: green;

$hero-panel-bg: purple;
$hero-panel-border: purple;

$footer-bg: orange;
$footer-text: white;
$footer-link: pink;

$body-bg: black;
$text-color: blue;
$link-color: orange;
$link-hover-color: yellow;

$heading-text-color: orange;

$border-color: pink;

$btn-nav-promote-text: white;
$btn-nav-promote-text-hover: red;
$btn-nav-promote-border: red;
$btn-nav-promote-border-hover: white;
$btn-nav-promote-bg: red;
$btn-nav-promote-bg-hover: white;

$btn-primary-text: white;
$btn-primary-text-hover: green;
$btn-primary-border: green;
$btn-primary-border-hover: white;
$btn-primary-bg: green;
$btn-primary-bg-hover: white;

$btn-reverse-text: white;
$btn-reverse-text-hover: green;
$btn-reverse-border: green;
$btn-reverse-border-hover: white;
$btn-reverse-bg: green;
$btn-reverse-bg-hover: white;

$blockout-panels: purple;
$blockout-panels-border: pink;

$cookies-alert-text: pink;
$cookies-alert-bg: green;
$cookies-alert-button-text: white;
$cookies-alert-button-text-hover: green;
$cookies-alert-button-bg: black;
$cookies-alert-button-bg-hover: green;
$cookies-alert-button-border: black;
$cookies-alert-button-border-hover: green;
$cookies-alert-link: yellow;
$cookies-alert-link-hover: yellow;

$reward-text: yellow;
$reward-bg: blue;
$reward-border: pink;

$blockquote-promote-text: green;
$blockquote-promote-bg: yellow;
$blockquote-promote-border: white;

$review-border: yellow;
$review-bg: blue;
$review-rating-text: pink;
$review-icon-bg: white;

#toggleNav.iconbar {
  background: transparent url('../../img/icons/menu-iconbar.png') no-repeat  0 0;
  &.active {
   background: transparent url('../../img/icons/menu-iconbar.png') no-repeat -50px 0;
  }
}

a.social-icon {
  &.si-twitter {
    background: transparent url('../../img/icons/social-twitter.png') no-repeat 50% 50%;
  }
  &.si-facebook {
    background: transparent url('../../img/icons/social-facebook.png') no-repeat 50% 50%;
  }
  &.si-instagram {
    background: transparent url('../../img/icons/social-instagram.png') no-repeat 50% 50%;
  }
  &.si-linkedin {
    background: transparent url('../../img/icons/social-linkedin.png') no-repeat 50% 50%;
  }
}

//The following stlyes do not need updating, they pull in the variables defined above
//  ======================================================

body {
  background-color:$body-bg;
  a {
    color:$link-color;
    text-decoration-color: $link-color;
    &:hover {
      color:$link-hover-color;
      text-decoration-color: $link-hover-color;
    }
    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6  {
      color:$link-color;
      &:hover {
        color:$link-hover-color;
      }
    }
  }
}

a.tel {
  color: $text-color;
  &:hover {
    color: $text-color;
  }
}

.listings-standard .ls-item a.ls-item-linked:hover h3 {
  color: $link-hover-color;
}

.listings-content {
  .lc-item {
    .lc-item-wrap {
      h3 {
        a {
          color: $link-color;
          &:hover {
            color: $link-hover-color;
          }
        }
      }
      a {
        h3 {
          color: $link-color;
        }
        &:hover {
          h3 {
            color: $link-hover-color;
          }
        }
      }
    }
    .lc-item-action {
      a {
        color: $link-color;
        &:hover {
          color: $link-hover-color;
        }
      }
    }
  }
}

.listings-promote {
  .lp-item {
    .lp-item-wrap {
      h3 {
        a {
          color: $link-color;
          &:hover {
            color: $link-hover-color;
          }
        }
      }
      a {
        h3 {
          color: $link-color;
        }
        &:hover {
          h3 {
            color: $link-hover-color;
          }
        }
      }
    }
    .lp-item-action {
      a {
        color: $link-color;
        &:hover {
          color: $link-hover-color;
        }
      }
    }
  }
}

.breadcrumb {
  > li {
    + li:before {
      color: $text-color;
    }
    a {
      color: $link-color;
      &:hover {
        color: $link-hover-color;
      }
    }
  }
  > .active {
    color:$text-color;
  }
}

.navList ul li.nav-promote {
  color:$btn-nav-promote-text;
  background:$btn-nav-promote-bg;
  border-color:$btn-nav-promote-bg;
  a {
    color:$btn-nav-promote-text;
    &:hover {
      color: $btn-nav-promote-text-hover;
    }
  }
}

a.nav-promote {
  color:$btn-nav-promote-text;
  background:$btn-nav-promote-bg;
  border-color:$btn-nav-promote-bg;
  &:hover {
    color: $btn-nav-promote-text-hover;
    background:$btn-nav-promote-bg-hover;
    border-color:$btn-nav-promote-bg-hover;
  }
}

p a.button,
a.button,
.btn,
.form-submit {
  color:$btn-primary-text;
  background:$btn-primary-bg;
  border-color:$btn-primary-border;
  &:hover {
    color: $btn-primary-text-hover;
    background:$btn-primary-bg-hover;
    border-color:$btn-primary-border-hover;
  }
  &.btn-reverse {
    color:$btn-reverse-text;
    background:$btn-reverse-bg;
    border-color:$btn-reverse-border;
    &:hover {
      color:$btn-reverse-text-hover;
      background:$btn-reverse-bg-hover;
      border-color:$btn-reverse-border-hover;
    }
  }
}

.form-blockout {
  border-color:$border-color;
  .form-blockout-heading {
    border-bottom-color:$border-color;
  }
}

.form-blockout-content {
  .fbc-panel {
    .fbc-panel-listing {
      border-bottom-color:$border-color;
    }
  }
}

.form-checkout-action-item {
  a.btn {
    color:$btn-primary-text;
    background:$btn-primary-bg;
    border-color:$btn-primary-border;
  }
  &.btn-reverse {
    color:$btn-reverse-text;
    background:$btn-reverse-bg;
    border-color:$btn-reverse-border;
    &:hover {
      color:$btn-reverse-text-hover;
      background:$btn-reverse-bg-hover;
      border-color:$btn-reverse-border-hover;
    }
  }
}

.form-meta {
  .form-meta-supp {
    border-top-color:$border-color;
  }
}

.border-top {
  border-top-color:$border-color;
}
.border-bottom {
  border-bottom-color:$border-color;
}

.blockout {
  background: $blockout-panels;
}

.cookiealert {
  background: $cookies-alert-bg;
  h5 {
    color:$cookies-alert-text;
  }
  .btn-inline {
    color: $cookies-alert-link;
    &:hover {
      color: $cookies-alert-link-hover;
    }
  }
  .btn {
    color: $cookies-alert-button-text;
    background: $cookies-alert-button-bg;
    border-color: $cookies-alert-button-border;
    &:hover {
      color: $cookies-alert-button-text-hover;
      background: $cookies-alert-button-bg-hover;
      border-color: $cookies-alert-button-border-hover;
    }
  }
}

.btn-accordion {
  color:$btn-primary-text;
  background:$btn-primary-bg;
  border-color:$btn-primary-border;
  &:hover {
    color:$btn-primary-text-hover;
    background:$btn-primary-bg-hover;
    border-color:$btn-primary-border-hover;
  }
}

#hero-owl,
#hero-two {
  background:$hero-panel-bg;
  border-top-color:1px solid $hero-panel-border;
  border-bottom-color:1px solid $hero-panel-border;
}

#hero-static {
  @include small {
    &:before {
      background:$hero-panel-bg;
    }
  }
}

.panel-imagery-strip {
  background:$hero-panel-bg;
  border-top-color:1px solid $hero-panel-border;
  border-bottom-color:1px solid $hero-panel-border;
}

blockquote.blockquote-promote {
  border-color:$blockquote-promote-border;
  background:$blockquote-promote-bg;
  p,
  cite {
    color: $blockquote-promote-text;
  }
}

body {
  background-color:body-bg;
  color: $text-color;
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    color: $heading-text-color;
  }
}

//header background colour and base broder
#branding {
  background-color:$header-bg;
  border-bottom-color:$header-border;
}

//header navigation link colour
.navList ul li a {
  color:$header-link-color;
  &:hover {
    color:$header-link-color;
  }
}

/*footer background*/
#siteinfo,
#siteinfo.blockout {
  background: $footer-bg;
  color:  $footer-text;
  * a {
    color:  $footer-link;
  }
}

.listing-reward {
  .listing-reward-item {
    color: $reward-text;
    background:$reward-bg;
    border-color:$reward-border;
  }
}

.definition-list {
  .dl-item {
    border-bottom-color:$border-color;
  }
}

//reviews
.listings-blockquote {
  .blockquote-item {
    border:$review-border;
    background:$review-bg;
    blockquote.blockquote-listing {
      &:before {
        background-color: $review-icon-bg;
      }
      .bl-rating {
        color: $review-rating-text;
      }
      p,
      li,
      footer,
      cite {
        color:$review-rating-text;
      }
    }
  }
}

.border-top {
  border-top:1px solid $border-color;
}
.border-bottom {
  border-bottom:1px solid $border-color;
}
