//hamburger and Site navigation text, full width format
#toggleNav.iconbar {
  position:absolute;
  display:block;
  margin:0;
  padding:0;
  cursor:pointer;
  text-indent: -99999px;
  width: 50px;
  height: 50px;
  top: 10px;
  right: 10px;
  z-index: 100;
  @include sprite(transparent,0,0);
  &.active {
    @include sprite(transparent,-50px,0);
  }
}

//expanding nav items
@include small-only {
  .navList {
    width:100%;
    position:relative;
    text-align:left;
    overflow:hidden;
    float:left;
    z-index: 10;
    &.active {
      display:block;
    }
    .navwrap {
      display:none;
    }
    ul {
      padding:12px 0 0 0;
      width:100%;
      margin:0;
      text-align:left;
      position: relative;
      padding-top:10px;
      li {
        display:block;
        margin:0;
        padding:0 $grid-gutter-width/2;
        float:none;
        overflow:hidden;
        color: #000;
        a {
          display:block;
          color:#000;
          text-decoration:none;
          float:none;
          padding:0 20px 0 0;
          margin:0 30px 14px 0;
          @include heading_light;
          font-size: 14px;
          text-transform: uppercase;
          display: inline-block;
          &:hover {
            color:#000;
            text-decoration:none;
          }
        }
        &.active {
          a {
            @include heading_regular;
          }
          ul li a {
            @include heading_light;
          }
          ul li.active a {
            @include heading_regular;
          }
        }
        &.nav-promote {
          border-top:1px solid $alto;
          border-bottom:1px solid $alto;
          padding-top:12px;
          background:$brand-primary-light;
          a {
             @include heading_regular;
          }
        }
        ul {
          display:none;
          overflow:hidden;
          position: static;
          width: 100%;
          margin-bottom:12px;
          padding-top:0;
          padding-bottom:0;
          li {
            float:left;
            width:100%;

            &:first-child {
              padding-top:0;
            }
            a {
              display:inline-block;
              @include heading_regular;
              padding:0 20px 0 0px;
              margin: 0 30px 10px 0;
              text-transform: inherit;
              font-size: 16px;
            }
            &:hover ul {
              display:none;
            }
          }
        }
        &.hasChild {
          a {
            &.toggleSub {
              display:inline-block;
              width:30px;
              height:30px;
              line-height: 28px;
              position:absolute;
              right:12px;
              margin:0;
              padding:0;
              text-align:center;
              color: #000;
              @include heading_bold;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

/*no-js exoand panel*/
.no-js .navList ul {
  display:block;
}

/*==START small (tablet) menu format*/
@include small {
  .navList {
    .navwrap {
      display: block!important;
    }
    ul {
      width: auto;
      list-style:none;
      padding:8px 0;
      margin:0;
      text-align: center;
      li {
        display:inline-block;
        cursor: pointer;
        padding-left:0;
        margin:0 0 0 16px;
        &:first-child {
          margin-left: 0;
        }
        &.nav-hidden {
          display: none;
        }
        a {
          padding:0;
          font-size: floor($font-size-base/1.075);
          display: inline-block;
          @include heading_light;
          @include trans;
          color: #000;
          text-transform: uppercase;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
          &.toggleSub {
            display:none!important;
          }
        }
        &.active {
          a {
            @include heading_regular;
            //color: $brand-primary-darken;
            &:hover {
              text-decoration: none;
            }
          }
        }
        &.nav-promote {
          display: none;
        }
        ul {
          display: none!important;
        }
      }
    }
  }
  #toggleNav.iconbar {
    display:none;
  }
}
@include medium {
  .navList {
    ul {
      li {
        margin:0 0 0 40px;
      }
    }
  }
}
