/*footer components*/
#siteinfo {
  background: #fff;
  width: 100%;
  clear: both;
  &.blockout {
    background: $brand-primary-light;
  }
  .siteinfo-row {
    padding-top:$baseline;
    //border-top: 1px solid $alto;
    padding-left: 0;
    padding-right:0;
    margin-left: 0;
    margin-right: 0;
    @include xsmall {
      text-align: center;
    }
    @include medium {
      padding-top:40px;
      padding-bottom:40px;
      margin-left: $grid-gutter-width/2;
      margin-right: $grid-gutter-width/2;
    }
  }
  .col {
    padding-left: 0;
    padding-right:0;
    position:relative;
    @include small {
      padding-left: $grid-gutter-width/2;
      padding-right: $grid-gutter-width/2;
    }
  }
  .siteinfo-social {
    margin-bottom: $baseline/2;
    position: relative;
    .social-icon {
      margin-right: 15px;
    }
    @include xsmall {
      margin-left: 15px;
      margin-right: 15px;
      text-align: center;
    }
  }

  .siteinfo-nav {
    margin:0 0 $baseline/1.5 0;
    padding:0;
    list-style:none;
    overflow:hidden;
    font-size: floor($font-size-base*0.95);
    @include xsmall {
      text-align: center;
    }
    li {
      margin:0 0 4px 0;
      padding:0;
      @include xsmall {
        margin-left: 8px;
        margin-right: 8px;
        margin-bottom: 0;
        display: inline-block;
      }
      a {
        @include heading_light;
        text-transform: uppercase;
        //color: #000;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      &.active {
        a {
          @include heading_regular;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  .siteinfo-nav-meta {
    margin:0 0 $baseline/4 0;
    padding:0;
    list-style:none;
    overflow:hidden;
    font-size: floor($font-size-base*0.85);
    @include xsmall {
      text-align: center;
    }
    li {
      margin:0;
      padding:0;
      @include xsmall {
        margin-left: 8px;
        margin-right: 8px;
        display: inline-block;
      }
      a {
        @include sansserif_light;
        //color: #000;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      &.active {
        a {
          @include sansserif_regular;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  .siteinfo-copy {
    margin-bottom: $baseline/2;
    font-size: floor($font-size-base*0.85);
    @include xsmall {
      margin-bottom: 0;
      text-align: center;
    }
  }
}