#branding {
  background-color:rgba(255,255,255,1);
  border-bottom: 1px solid #fff;
  .branding-row {
    padding-left: 0;
    padding-right:0;
    margin-left: 0;
    margin-right: 0;

    @include small {
      padding-top:$baseline;
      padding-bottom:$baseline;
      margin-bottom: 0;
      display: -webkit-flex;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }
    @include medium {
      padding-top:40px;
      padding-bottom:40px;
      margin-left: $grid-gutter-width/2;
      margin-right: $grid-gutter-width/2;
    }
  }
  .col {
    padding-left: 0;
    padding-right:0;
    position:relative;
    @include small {
      padding-left: $grid-gutter-width/2;
      padding-right: $grid-gutter-width/2;
      display: flex;
      height: 100%;
      justify-content: center;
    }
    @include small {
      &.col-branding-logo {
        width: 20%;
        float: left;
        padding-left:0;
        display: flex;
        align-items: center;
      }
      &.col-branding-nav {
        width: 55%;
        float: left;
        display: flex;
        align-items: center;
        .navList {
          margin: 0 auto;
        }

      }
      &.col-branding-action {
        width: 23%;
        float: left;
        padding-right:0;
        text-align: center;
        display: flex;
        align-items: center;
        align-self: center;
      }
    }
    @include medium {
      &.col-branding-logo {
        width: 20%;
        float: left;
      }
      &.col-branding-nav {
        width: 59%;
        float: left;
      }
      &.col-branding-action {
        width: 20%;
        float: left;
      }
    }
  }
  #branding-logo {
    position:relative;
    margin: $grid-gutter-width;
    float: left;
    width: 150px;

    @include xsmall {
      width: 150px;
    }
    @include small {
      margin: 0;
    }
    @include medium {
      width:auto;
      max-width: 100%;
    }
  }
}

// body.shrink {
//   @include small {
//     margin-top: 120px;
//   }
//   @include medium {
//     margin-top: 200px;
//   }
// }
// #branding.shrink {
//   @include small {
//     background-color:rgba(255,255,255,0.95);
//     border-bottom-color:$alto;
//     transition: background-color .35s, color .35s, border-color .25s;
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     z-index: 10000;
//   }
// }