body main .nav-sub {
  display: none;
  @include nav-reset;
  margin-bottom: 40px;
  li {
    display: inline-block;
    @include heading_light;
    font-size: floor($font-size-base*0.95);
    margin:0 25px 0 0;
    a {
      //color: #000;
      @include heading_light;
      display: inline-block;
      text-transform: uppercase;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    &.active {
      a {
        @include heading_regular;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  @include small {
    display: block;
  }
}