.accordion-item {
  position: relative;
  .panel-title {
    position:relative;
    padding-bottom:$baseline/1.5;
    margin-top: 0;
    margin-bottom: 0;
    a {
      display: block;
      padding: 0 0 0 40px;
      @include heading_light;
      //color: $gray-dark;
      text-decoration: none;
      &::before {
        width: 50px;
        height: 50px;
        display: block;
        content:"";
        position: absolute;
        top: 0;
        left: 0;
        @include sprite(transparent,-50px,-200px);
      }
    }
    &.pt-promote {
      padding-bottom:$baseline/2;
      a {
        @include heading_regular;
        position:relative;
        font-size: ceil($font-size-base*1.3);
        @include small {
          padding-right:160px;
        }
        em {
          margin-top: 0;
          display: block;
          font-style: normal;
          @include heading_light;
          font-size: ceil($font-size-base*1);
          @include small {
            margin-top: 0;
            position:absolute;
            right: 0;
            top: 0;
            width: 130px;
            text-align: right;
          }
          b {
            @include heading_regular;
            font-size: ceil($font-size-base*1.2);
            display: inline-block;
            margin-left: 5px;
          }
        }
      }
    }
    &.active {
      a {
        &::before {
          @include sprite(transparent,0px,-200px);
        }
      }
    }
  }
  .panel-content {
    padding-bottom:$baseline;
    @include xsmall {
      padding-left: 40px;
    }
  }
  &:last-child {
    .panel-content {
      padding-bottom: 0;
    }
  }
}
