.cookiealert {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 30px;
  width: 100%;
  opacity: 0;
  transform: translateY(100%);
  transition: all 500ms ease-out;
  z-index: 100;
  background: #eee;
  @include small {
    width: 290px;
    bottom: 50px;
    right: 50px;
  }
  h5 {
    margin-top: 0;
    text-transform: uppercase;
    font-size: floor($font-size-base*0.95);
    @include heading_bold;
  }
  p {
    margin:0 0 24px;
    font-size: floor($font-size-base*0.95);
    line-height: 1.5em;
  }
  .btn-inline {
    display: inline-block;
    margin-right: 25px;
    color: #000;
    font-size: floor($font-size-base*1.1);
    text-decoration: none;
    @include heading_light;
  }
  .btn {
    background: #eee;
    border: 1px solid #aaaaaa;
    margin: 0;
    padding:8px 22px 6px;
    @include heading_regular;
    &:hover {
      background: #000;
      border-color:#000;
      color: #fff;
    }
  }
  &.show {
    transform: translateY(0%);
    transition-delay: 1000ms;
    opacity: 1;
  }
}