img {
  margin-bottom: $baseline;
}

/*thumbnails*/
img.image-default {
  margin:0 0 $baseline 0;
  @include img-border;
  @include small {
    float:left;
    margin:2px 65px $baseline 0;
  }
}

a img.image-default {
  @include trans;
  @include img-border-link;
  &:hover {
    @include img-border-link-hover;
  }
}