.form-blockout {
  border:1px solid $alto;
  position:relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: $baseline;
  @include large {
    margin-bottom: $baseline*1.5;
  }
  .form-blockout-heading {
    border-bottom:1px solid $alto;
    padding-left:$grid-gutter-width;
    padding-right:$grid-gutter-width;
    padding-top:26px;
    padding-bottom:20px;
    //background:$brand-primary-light;
    h3 {
      margin:0;
      line-height: 38px;
      @include small {
        font-size: $font-size-h3;
        font-size: $font-size-h3-small;
        @include heading_bold;
      }
    }
    h4 {
      margin:0;
      line-height: 38px;
      @include small {
        font-size: $font-size-h4;
        font-size: $font-size-h4-small;
        @include heading_bold;
      }
    }
    h5 {
      margin:0;
      line-height: 38px;
      @include small {
        font-size: $font-size-h5;
        font-size: $font-size-h5-small;
        @include heading_bold;
      }
    }
  }
}

.form-blockout-content {
  padding-left:$grid-gutter-width;
  padding-right:$grid-gutter-width;
  padding-top:24px;
  padding-bottom:24px;
  .fbc-info {
    font-size: floor($font-size-base*0.9);
    line-height: 22px;
    b {
      @include sansserif_regular;
      font-size: floor($font-size-base*1);
      line-height: 28px;
      display: block;
      margin-bottom: 8px;
    }
  }
  p {
    margin-bottom: 18px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .fbc-panel {
    padding-bottom:$baseline;
    margin-bottom:$baseline;
    &:last-child {
      padding-bottom:0;
      margin-bottom:0;
    }
    p {
      margin-bottom: 0;
      span {
        display: block;
      }
      em {
        @include sansserif_regular;
        font-style: normal;
      }
      b {
        @include sansserif_regular;
      }
    }
    .fbc-title {
      @include sansserif_bold;
      line-height: 26px;
      margin-bottom: 6px;
    }
    .fbc-meta {
      font-size: floor($font-size-base*0.9);
      line-height: 24px;
    }
    .fbc-price {
      position:relative;
      margin-top: 4px;
      span {
        margin-bottom: 0;
        float: left;
        margin-right: 15px;
      }
      a.fbc-remove {
        float: left;
        @include small {
          float: right;
        }
        position: relative;
        display: block;
        text-indent: -99999px;
        width: 24px;
        height: 24px;
        &:before {
          content:'';
          width:14px;
          height:14px;
          position:absolute;
          top:6px;
          left:5px;
          @include sprite(transparent,0px,-500px);
          z-index: 555;
        }

      }
    }
    .fbc-total {
      em {
        font-style: normal;
      }
      span.fbc-cost {
        @include small {
          float: right;
          text-align: right;
        }
      }
    }
    .fbc-add {
      margin-top: 18px;
    }
    &:last-child {
      margin-bottom:0;
    }
    .fbc-panel-listing {
      border-bottom:1px solid $alto;
      padding-bottom:14px;
      margin-bottom:14px;
      position:relative;
      overflow: hidden;
      &:last-child {
        border-bottom:none;
        margin-bottom:0;
        padding-bottom:0;
      }
    }
  }
}

.form-checkout-action-item {
  width: 100%;
  margin-bottom: 18px;
  a.btn {
    width: 100%;
    padding:28px 22px 26px;
    display:inline-block;
    @include trans;
    text-decoration:none;
    @include heading_regular;
    color:$brand-primary-darken;
    cursor: pointer;
    margin-bottom:$baseline;
    background:#fff;
    border:1px solid $brand-primary-darken;
    text-align: center;
    font-size: floor($font-size-base*1.35);
    line-height: 28px;
    text-transform: inherit;
    margin:0 0 18px 0;
    &.btn-pin {
      @include small {
        padding-left:75px;
        span {
          position: relative;
          &:before {
            content:'';
            width:28px;
            height:42px;
            position:absolute;
            top:-9px;
            left:-52px;
            @include sprite(transparent,0px,-450px);
            z-index: 555;
          }
        }
      }
    }
    &.btn-reverse {
      color:#fff;
      background:$brand-primary;
      border-color:$brand-primary;
      &:hover {
        text-decoration:none;
        background:$brand-primary-darken;
        color: #fff;
        border-color:brand-primary-darken;
      }
    }
  }
}

.form-meta {
  .form-meta-item {
    line-height: 18px;
    font-size: ceil($font-size-base*0.9);
    margin-bottom: $baseline/2;
    display: block;
    b {
      @include sansserif_bold;
      @include small {
        display: block;
      }
    }
    i {
      font-style: normal;
    }
  }
  .form-meta-supp {
    margin-top: $baseline/2;
    @include small {
      margin-top: $baseline;
    }
    border-top:1px solid $alto;
    padding-top:$baseline/2;
    position:relative;
    overflow: hidden;
    span {
      font-size: floor($font-size-base*0.85);
    }
  }
}