#hero-owl {
  overflow: hidden;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background:$brand-primary;
  border-top:1px solid $brand-primary;
  border-bottom:1px solid $brand-primary;
  margin-bottom: $baseline;
  @include small {
    margin-bottom: $baseline*2;
  }
  @include medium {
  }
  .container-fluid {
    .row {
      .col {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

#hero-two {
  background:$brand-primary;
  border-top:1px solid $brand-primary;
  border-bottom:1px solid $brand-primary;
  margin-bottom: $baseline;
  .col {
    padding-left: 0;
    padding-right: 0;
    @include medium {
      padding-left: $grid-gutter-width;
      padding-right: $grid-gutter-width;
    }
  }
  .hero-default-panel {
    //margin-left: $grid-gutter-width/2;
    //margin-right: $grid-gutter-width/2;
    @include medium {
      text-align: center;
    }
  }
  .hero-default-item {
    //display: inline-block;
    //margin-left: $grid-gutter-width/2;
    &:nth-child(2) {
      display: none;
    }
    @include xsmall {
      &:nth-child(2) {
        display: block;
      }
      float: left;
      width: 50%;
    }
    img {
      margin-bottom: 0;
      //display: inline-block;
    }
  }
}

#hero-static {
  background: $brand-primary;
  border-top:1px solid $brand-primary;
  border-bottom:1px solid $brand-primary;
  margin-bottom: $baseline;
  position:relative;
  @include xsmall {
    padding:15px;
  }
  @include small {
    padding:0;
    background:none;
    border-bottom:none;
    &::before {
      width: 100%;
      height: 140px;
      display: block;
      content:"";
      position: absolute;
      top: 0;
      left: 0;
      background:$brand-primary;
      content: "";
    }
  }
  @include medium {
    margin-bottom: $baseline*2;
    &::before {
      height: 240px;
    }
  }
  .col {
    padding-left: 0;
    padding-right: 0;
    @include small {
      padding-left: $grid-gutter-width;
      padding-right: $grid-gutter-width;
    }
  }
  .hero-default-panel {
    position:relative;
    overflow: hidden;
    @include small {
      text-align: center;
    }
    @include medium {
      //padding-left:6%;
    }
    @include large {
      //padding-left:11%;
    }
  }
  .hero-default-item {
    position: relative;
    &:nth-child(2) {
      display: none;
    }
    @include xsmall {
      float: left;
      width: 50%;
      &:nth-child(1) {
        padding-left: $grid-gutter-width/2;
        display: inline-block;
      }
      &:nth-child(2) {
        padding-right: $grid-gutter-width/2;
        display: inline-block;
      }
    }
    @include small {
      padding-top:40px;
    }
    @include medium {
      padding-top:80px;
    }
    img {
      margin-bottom: 0;
    }
  }
}