.listings-standard {
  padding-bottom: $baseline;
  margin-bottom: $baseline;
  .ls-item {
    margin-bottom: $baseline*1.5;
    position: relative;
    img {
      @include small {
        width: 25%;
        float: left;
        margin-top: 7px;
        margin-right: 30px;
      }
      @include large {
        width: 30%;
        margin-right: 40px;
      }
    }
    a.ls-item-linked {
      text-decoration: none;
      display: block;
      img {
        @include trans;
        @include img-border-link;
      }
      h3 {
        @include trans;
        margin-top: 0;
      }
      &:hover {
        h3 {
          color: $link-hover-color;
          text-decoration: underline;
        }
        img {
          @include img-border-link-hover;
        }
      }
    }
    p {
      margin-bottom:$baseline;
      &:last-child  {
        margin-bottom: 0;
      }
    }
    a.btn {
      margin-bottom: 0;
    }
  }
}

.listings-content {
  margin-bottom: $baseline;
  @include medium {
    padding-left:120px;
  }
  .lc-item {
    margin-bottom: 0;
    position: relative;
    @include small {
      padding-left:4%;
      padding-right:12%;
    }
    @include medium {
      margin-bottom: 0;
      padding-left:12%;
      padding-right:8%;
    }
    @include large {
    }
    &:last-child {
      margin-bottom: 0;
    }
    .lc-item-wrap {
      text-decoration: none;
      display: block;
      img {
        @include trans;
        @include small {
          float: none;
          margin: 0 0 $baseline 0;
        }
        @include medium {
          float: left;
          position:relative;
          left: -220px;
          margin-right: -150px;
          margin-top: 4px;
          margin-bottom: 38px;
          max-width: 480px;
        }
      }
      .heading-title {
        margin-bottom: 14px;
      }
      h3 {
        margin-top: 0;
        font-size: floor($font-size-base*2);
        line-height: 1.75em;
        margin-bottom: 15px;
        a {
          @include heading_light;
          color: $link-color;
          &:hover {
            color: $link-hover-color;
            text-decoration: underline;
          }
        }
      }
      a {
        text-decoration: none;
        h3 {
          @include trans;
          text-decoration: none;
          color: $link-color;
        }
        img {
          @include img-border-link;
        }
        &:hover {
          h3 {
            color: $link-hover-color;
            text-decoration: underline;
          }
          img {
            @include img-border-link-hover;
          }
        }
      }
    }
    p {
      margin-bottom:$baseline;
      &:last-child  {
        margin-bottom: 0;
      }
    }
    .lc-item-action {
      a {
        color: $link-color;
        text-decoration: none;
        &:hover {
          color: $link-hover-color;
          text-decoration: underline;
        }

      }
    }
  }
}

.listings-promote {
  padding-bottom: $baseline;
  margin-bottom: $baseline;
  .lp-item {
    margin-bottom: $baseline*3;
    position: relative;
    @include medium {
      margin-bottom: $baseline*2;
    }
    &:last-child {
      margin-bottom: 0;
    }
    .lp-item-wrap {
      text-decoration: none;
      display: block;
      img {
        @include trans;
        @include small {
          width: 35%;
          float: left;
          margin-top: 0;
          margin-right: 40px;
        }
        @include large {
          width: 45%;
          margin-right: 80px;
          margin-top: 0;
        }
      }
      h3 {
        margin-top: 0;
        font-size: floor($font-size-base*2);
        line-height: 1.75em;
        a {
          @include heading_light;
          color: $link-color;
          &:hover {
            color: $link-hover-color;
            text-decoration: underline;
          }
        }
      }
      a {
        text-decoration: none;
        h3 {
          @include trans;
          text-decoration: none;
          color: $link-color;
        }
        img {
          @include img-border-link;
        }
        &:hover {
          h3 {
            color: $link-hover-color;
            text-decoration: underline;
          }
          img {
            @include img-border-link-hover;
          }
        }
      }
    }
    p {
      margin-bottom:$baseline;
      &:last-child  {
        margin-bottom: 0;
      }
    }
    .lp-item-action {
      a {
        color: $link-color;
        text-decoration: none;
        &:hover {
          color: $link-hover-color;
          text-decoration: underline;
        }

      }
    }
  }
}

//downloads list
.listing-resource {
  margin-bottom: $baseline;
  position:relative;
  &.lr-icon {
    padding-left:62px;
  }
  h4 {
    margin-bottom: 2px;
    a {
      display:inline-block;
      position:relative;
      text-decoration: none;
      @include heading_light;
      margin-bottom: 0;
      width: 100%;
      //color: $gray-dark;
      &:hover {
        text-decoration: underline;
      }
      span.icon {
        display:block;
        width:40px;
        height:45px;
        position:absolute;
        left:-62px;
        top:8px;
        img {
          border: none;
        }
      }
    }
    .lr-meta {
      display: block;
      position:relative;
      font-size: floor($font-size-base/1.1);
      //color: $text-color;
      margin-bottom: 4px;
    }
  }
  p {
    margin-bottom: 8px;
    font-size: floor($font-size-base/1.1);
    line-height:  $baseline;
  }
}

.definition-time {
  margin-top: 28px;
  .dt-item {
    display: block;
    margin-bottom: $baseline;
    @include xsmall {
      display: inline-block;
      width: 18%;
      margin-right: 30px;
    }
    @include small {
      width: 10%;
      margin-right: 25px;
    }
    @include large {
      width: 11%;
    }
    span {
      text-transform: uppercase;
      @include sansserif_bold;
      //color: #000;
    }
    em {
      font-style: normal;
      display: block;
      @include xsmall {
        margin-top: 4px;
      }
    }
  }
}

.definition-list {
  @include small {
    margin-bottom: 28px;
  }
  .dl-item {
    display: block;
    border-bottom:1px solid $alto;
    position:relative;
    overflow: hidden;
    padding-top:18px;
    padding-bottom:18px;
    font-size: floor($font-size-base*0.9);
    span {
      width: 70%;
      float: left;
      @include sansserif_regular;
      //color: #000;
    }
    em {
      width: 30%;
      text-align: right;
      float: left;
      font-style: normal;
    }
  }
}

.listing-reward {
  position:relative;
  overflow: hidden;

  @include small {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
  }

  div.col {
    @include small {
      display: flex;
    }
  }

  .listing-reward-item {
    background:#fff;
    border:1px solid $alto;
    padding:30px 35px;
    margin-bottom: 30px;
    width: 100%;
    @include small {
      display: flex;
      flex-direction: column;
    }

    .lri-meta {
      position:relative;
      overflow: hidden;
      margin-bottom: 28px;
      em {
        @include heading_bold;
        font-size: floor($font-size-base*1.75);
        display: inline-block;
        @include sprite(transparent,1px,-300px);
        width: 60px;
        height: 80px;
        padding-top:5px;
        text-align: center;
        float: left;
        color: #000;
      }
      span {
        @include heading_light;
        font-size: floor($font-size-base*1.6);
        display: inline-block;
        margin-top: 8px;
        margin-left: 10px;
        float: left;
      }
    }
    .lri-title {
      @include heading_light;
      font-size: floor($font-size-base*1.6);
      line-height: 1.4em;
      br {
        display: none;
        @include small {
          display: inline-block;
          font-size: floor($font-size-base*2);
        }
      }
    }
  }
}

.listing-team {
  position:relative;
  overflow: hidden;
  .col-xs-6 {
    @media only screen and (max-width: $screen-xs-max){
      width:100%;
    }
    @media only screen and (min-width: $screen-xs-max) and (max-width: $screen-sm) {
      width:50%;
    }
  }
  .listing-team-item {
    position:relative;
    margin-bottom: $baseline;
    @include xsmall {
      text-align: center;
    }
    img {
      margin-bottom: 18px;
      float: none;
    }
    .lti-meta {
      span {
        display: block;
        @include heading_light;
        font-size: floor($font-size-base*1.5);
        line-height: 1.5em;
      }
      em {
        font-style: normal;
        display: block;
        @include sansserif_light;
      }
    }

  }
}

.contact-meta {
  position:relative;
  overflow: hidden;
  margin-bottom: 28px;
  .contact-meta-title {
    @include heading_light;
    font-size: floor($font-size-base*2);
    line-height: 1.5em;
    margin-bottom:12px;
  }
  .contact-meta-detail {
    font-size: floor($font-size-base);
  }
  p {
    margin-bottom: 0;
  }
}