a.social-icon {
  display: inline-block;
  overflow: hidden;
  width: 35px;
  height: 50px;
  padding-top: 50px;
  text-indent: -99999px;
  overflow: hidden;
  margin:0;
  &.si-twitter {
    @include sprite(transparent,0px,-50px);
  }
  &.si-facebook {
    @include sprite(transparent,0px,-100px);
  }
  &.si-instagram {
    @include sprite(transparent,0px,-150px);
  }
  &.si-linkedin {
    @include sprite(transparent,-50px,-100px);
  }
}

.ratings {
  position: relative;
  overflow: hidden;
  @include small {
    float:right;
    text-align: right;
    top: 6px;
  }
  .ratings-item {
    width: 25px;
    height: 25px;
    padding-top: 30px;
    overflow: hidden;
    display: inline-block;
    text-indent: -99999px;
    @include sprite(transparent,0px,-400px);
  }
}