@include small-only {
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display:block;
   }
  /* Hide table headers (but not display: none;, for accessibility) */
  table,
  .table {
    margin-bottom:$baseline*2;
    thead {
      tr {
        position:absolute;
        top:-9999px;
        left:-9999px;
      }
    }
  }
  table,
  .table {
    tbody {
      tr {
        margin-bottom:$baseline;
        border-bottom:1px solid $gray-lighter;
        td {
          border:none;
          padding:10px 0 5px 0;
          //background:#fff;
          &:first-child {
            padding-top:20px;
          }
          &:last-child {
            padding-bottom:$baseline;
          }
        }
      }
    }
  }
}

@include small {
  table,
  .table {
    border-collapse:collapse;
    border-spacing:none;
    margin-bottom:$baseline;
    border:1px solid $gray-lighter;
    > thead > tr > th {
      //background:$brand-primary;
      @include sansserif_bold;
      font-size: floor($font-size-base);
      padding:12px 25px 12px 20px;
      text-align:left;
      border-bottom:1px solid $gray-lighter;
      border-right:1px solid $gray-lighter;
      //color: #fff;
    }
    > tbody {
      > tr > td {
        padding:10px 25px 10px 20px;
        vertical-align:top;
        border-bottom:1px solid $gray-lighter;
        border-right:1px solid $gray-lighter;
        //background:#fff;
        -ms-word-wrap: break-word;
        -ms-word-wrap: break-word; // w-wrap and o-wrap are identical, but IE/Edge doesn’t support o-wrap yet.
        overflow-wrap: break-word;
        ul {
          margin-top: 12px;
        }
      }
    }
  }
}

//clean, borderless table for pricing page
@include small-only {
  .table-clean {
    margin-bottom:$baseline;
    tbody {
      tr {
        margin-bottom:$baseline;
        border-bottom:1px solid $alto;
        td {
          border:none;
          padding:0 0 5px 0;
          background:#fff;
          &:first-child {
            padding-top:0;
            @include sansserif_bold;
          }
        }
      }
    }
  }
}

@include small {
  .table-clean {
    border:none;
    width: 100%;
    > thead > tr > th {
      background:#fff;
      @include sansserif_bold;
      font-size: floor($font-size-base*1.2);
      padding:0 0 12px 0;
      text-align:left;
      border-top:none;
      border-bottom:none;
      border-right:none;
      color: $text-color;
      vertical-align:top;
    }
    > tbody {
      > tr:last-child {
        td {
          padding-bottom:$baseline;
        }
      }
      > tr > td {
        padding:12px 50px 12px 0;
        vertical-align:top;
        border-bottom:none;
        border-right:none;
        ul {
          margin-bottom: 0;
        }
        &.td-last {
          text-align: right;
          padding-right:30px;
        }
      }
    }
  }
}

.panel-content-table {
  position:relative;
  overflow: hidden;
  .pct-item {
    position:relative;
    overflow: hidden;
    border-bottom:1px solid $alto;
    margin-bottom: 12px;
    padding-bottom: 12px;
    .pct-title {
      line-height: 40px;
      @include small {
        width: 60%;
        float: left;
      }
      h5 {
        margin:0;
        font-size: floor($font-size-base*1.35);
        @include small {
          margin:8px 0 0 0;
        }
      }
    }
    .pct-meta {
      @include small {
        width: 20%;
        float: left;
        text-align: right;
        @include small {
          margin:4px 0 0 0;
        }

      }
    }
    .pct-action {
      margin-top: 18px;
      @include small {
        margin-top: 0;
        width: 20%;
        float: left;
        text-align: right;
      }
    }
    .pct-summary {
      margin-top: 18px;
      @include small {
        margin-top: 0;
        float: left;
        width: 100%;
        clear: both;
        padding-right:14%;
      }
      p {
        font-size: floor($font-size-base*0.95);
      }
    }
  }
}