.panel {
  position: relative;
  width: 100%;
}
.panel-grid {
  @include small {
    margin-left:$grid-gutter-width/2;
    margin-right:$grid-gutter-width/2;
  }
}

.panel-baseline {
  margin-bottom: $baseline;
  position: relative;
  overflow: hidden;
  @include medium {
    margin-bottom: $baseline*2;
  }
}

//panel with equal left/right padding for centrally aligned content
.panel-content-central {
  position: relative;
  width: 100%;
  @include small {
    padding-left:6%;
    padding-right:6%;
  }
  @include medium {
    padding-left:12%;
    padding-right:12%;
  }
  @include large {
    padding-left:18%;
    padding-right:18%;
  }
}

.panel-content-heading-action {
  position: relative;
  width: 100%;
  @include small {
    padding-left:6%;
    padding-right:6%;
  }
  @include medium {
    padding-left:12%;
    padding-right:12%;
  }
  @include large {
    padding-left:22%;
    padding-right:22%;
  }
  .heading-action {
    h1 {
      margin-bottom: 0;
      @include large {
        float: left;
      }
    }
    .heading-action-item {
      margin-bottom: $baseline;
      @include large {
        float:right;
        margin-bottom: 0;
        margin-top: 26px;
      }
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .heading-sub {
    float: left;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 24px;
    .heading-sub-item {
      display: block;
      @include xsmall {
        display: inline;
        padding-right: 26px;
        padding-left: 22px;
        border-right:1px solid $alto;
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
          border-right:none;
        }
      }
    }
  }
}

.panel-content-medium {
  position: relative;
  width: 100%;
  @include small {
    padding-left:6%;
    padding-right:6%;
  }
  @include medium {
    padding-left:11%;
    padding-right:11%;
  }
}

.panel-content-wide {
  position: relative;
  width: 100%;
  @include small {
    padding-left:6%;
    padding-right:6%;
  }
}
.panel-content-full {
  position: relative;
  width: 100%;
  @include small {
    padding-left:3%;
    padding-right:3%;
  }
}

.panel-blockquote-promote {
  position:relative;
  margin-top:$baseline;
  .panel-blockquote-quote {
    &:before {
      content:'';
      width:60px;
      height:40px;
      position:absolute;
      top:25px;
      left:10px;
      z-index: 555;
      @include sprite(#fff,15px,-250px);
      @include small {
        top:-10px;
        left:80px;
      }
      @include medium {
        top:-10px;
        left:180px;
      }
    }
  }
  @include small {
    text-align: center;
    padding-left:6%;
    padding-right:6%;
  }
  @include medium {
    padding-left:10%;
    padding-right:10%;
  }
}

.panel-negative-top {
  @include medium {
    margin-top: -200px;
  }
}

#panel-imagery-strip {
  border-top: 1px solid $brand-primary;
  border-bottom: 1px solid $brand-primary;
}
