.alert {
  @include heading_light;
  padding:16px 28px;
  margin-bottom:$baseline*1.5;
  border-radius: 0;
  border-width:1px;
  background: none;
  border-radius:0;
  font-size: floor($font-size-base*1.15);
  background:#fff;
  strong {
    @include heading_bold;
    display: inline-block;
    margin-right: 8px;
  }
  span {
    color: $text-color;
  }
}