/*pagination*/
.pager {
  ul.pager-items {
    margin:0 0 $baseline 0;
    overflow:hidden;
    height:auto;
    list-style:none;
    padding:0;
    width:100%;
    @include small {
      margin-bottom:0;
    }
    li {
      height:auto;
      display:inline-block;
      padding:0;
      background:#fff;
      margin-right:4px;
      margin-bottom:12px;
      line-height:18px;
      text-align:center;
      border:1px solid #fff;
      @include trans;
      a {
        width:50px;
        height:50px;
        line-height: 50px;
        display:inline-block;
        text-decoration: none;
        @include heading_light;
        background:#fff;
        color:$link-color;
        text-align: center;
        font-size: ceil($font-size-base*1.2);
      }
      &:hover {
        border-color:#f0f0f0;
        a {
          text-decoration:none;
          background:#f0f0f0;
        }
      }
      &.active {
        border-color:$brand-primary;
        a {
          @include heading_bold;
          &:hover {
            text-decoration:none;
            background:#fff;
          }
        }
      }
    }
  }
  &.pager-aside {
    ul.pager-items {
      margin-bottom:0;
      @include small {
        margin-bottom:0;
      }
    }
    @include small {
      ul.pager-items {
        float:left;
        width:60%;
      }
    }
  }

  ul.pager-aside-content {
    margin:0;
    padding:0;
    overflow:hidden;
    height:auto;
    list-style:none;
    display:inline-block;
    width:100%;
    @include small {
      margin:0 0 $baseline*2 0;
      float:left;
      width:40%;
      text-align:right;
    }
    li.previous,
    li.next {
      display:inline-block;
      a {
        @include trans;
        @include heading_light;
        line-height: 50px;
        text-decoration: none;
        //color: $text-color;
        font-size: floor($font-size-base*1.25);
        &:hover {
          text-decoration:underline;
          color: #000;
        }
      }
    }
    li.previous {
      margin-right:20px;
    }
  }
}