@mixin blockquote-icon {
  &:before {
    content:'';
    width:30px;
    height:30px;
    position:absolute;
    top:-4px;
    left:0;
    @include sprite(transparent,0px,-250px);
    z-index: 555;
    @include small {
      top:8px;
      left:-55px;
    }
  }
}

q {
  font-style: italic;
}

cite {
  @include heading_bold;
  text-transform: uppercase;
  font-style:normal;
  display: block;
  font-size: floor($font-size-base*0.9); //14
}


blockquote {
  font-style:normal;
  text-transform: uppercase;
  position:relative;
  margin-bottom: $baseline;
  margin-left: 0;
  margin-right: 0;
  border-left:none;
  padding-left:0;
  padding-right:0;
  padding-top: 30px;
  padding-bottom:0;
  @include blockquote-icon;
    @include small {
    padding-top:0;
  }
  .blockquote-content {
    position:relative;
  }
  ul {
    padding-left: 15px;
  }
  p,
  li {
    @include heading_light;
    font-style: normal;
    font-size: ceil($font-size-base*1.1);
    line-height: $baseline;
    margin-bottom: $baseline/2;
    @include small {
      font-size: ceil($font-size-base*1.3);
    }
  }
  p {
    position:relative;
  }
  footer,
    small,
    .small {
      font-size: floor($font-size-base*0.9);
      &:before,
      &:after {
        display:none;
      }
    }
}

blockquote.blockquote-promote {
  border:1px solid $alto;
  background:#fff;
  padding:68px 8% 20px;
  overflow: visible;
  z-index: 99999;
  @include small {
    padding:48px 8% 60px;
  }
  &:before {
    display: none;
  }
}
.blockquote-promote-cta {
  margin-bottom: $baseline*2;
  @include small {
    text-align: center;
    margin-top: -55px;
    position:relative;
    z-index: 50;
  }
  .btn {
    margin: 0;
  }
}

.listings-blockquote {
  position:relative;
  width: 100%;
  float:left;
  .blockquote-item {
    position:relative;
    width: 100%;
    border:1px solid $alto;
    background:#fff;
    float: left;
    padding:28px 28px 8px 28px;
    margin:0 0 $baseline 0;
    &:last-child {
      margin-bottom: $baseline*2;
    }
    @include small {
      padding:28px 28px 28px 40px;
    }
    blockquote.blockquote-listing {
      overflow: visible;
      z-index: 99999;
      text-transform: inherit;
      position:relative;
      width: 100%;
      float:left;
      margin:0;
      @include small {
        width: 72%;
      }
      &:before {
        top:-4px;
        left:0;
        @include sprite(#fff,0px,-250px);
        @include small {
          top:8px;
          left:-55px;
        }
      }
      .bl-rating {
        @include heading_regular;
        font-size: ceil($font-size-base*1.45);
        //color: #000;
        display: block;
        position:relative;
        line-height: 1.65em;
        @include small {
          width: 6%;
          float: left;
          display: inline-block;
        }
      }
      .bl-content {
        float: left;
        width: 94%;
        @include small {
          padding-right:30px;
        }
      }
      p,
      li {
        @include heading_light;
        margin-bottom: $baseline/3;
        font-size: ceil($font-size-base*1.2);
        //color: #000;
      }
      footer {
        display: block;
        width: 100%;
        float: left;
        @include sansserif_light;
        @include small {
          padding-left:6%;
        }
        cite {
          display: inline-block;
          margin-right: 15px;
          @include sansserif_regular;
          text-transform: inherit;
        }
      }
    }
    .blockquote-aside {
      width: 100%;
      float: left;
      margin-top: 28px;
      @include small {
        margin-top: 0;
        width: 28%;
        padding-left:0;
      }

    }
  }
}