p a.button,
a.button,
.btn,
.form-submit {
  padding:11px 22px 9px;
  display:inline-block;
  @include trans;
  text-decoration:none;
  @include heading_regular;
  color:$brand-primary-darken;
  cursor: pointer;
  margin-bottom:$baseline;
  background:#fff;
  border:1px solid $brand-primary-darken;
  text-align: center;
  font-size: floor($font-size-base*0.85);
  margin-right: 15px;
  text-transform: uppercase;
  &:hover {
    text-decoration:none;
    background:$brand-primary-darken;
    color: #fff;
  }
  &.btn-reverse {
    color:#fff;
    background:$brand-primary;
    border-color:$brand-primary;
    &:hover {
      text-decoration:none;
      background:$brand-primary-darken;
      color: #fff;
      border-color:brand-primary-darken;
    }
  }
}

a.nav-promote {
  padding:9px 16px 7px;
  @include trans;
  text-decoration:none;
  @include heading_regular;
  text-transform: inherit;
  color:#000;
  border:1px solid $brand-primary-darken;
  text-align: center;
  text-decoration: none;
  background:#fff;
  font-size: floor($font-size-base*0.90);
  //float: right;
  display: none;
  @include small {
    display: inline-block;
  }
  @include medium {
    padding:9px 20px 7px;
  }
  &:hover {
    text-decoration:none;
    background:$brand-primary-darken;
    color: #fff;
  }
}

/*boostrap override form styles*/
form {
  margin-bottom: $baseline;
  .form-panel {
    margin-bottom:$baseline;
  }
  .form-group {
    margin-bottom:$baseline;
    font-size:$font-size-base;
    //color:$text-color;
    position:relative;
    overflow: hidden;
    label {
      display:block;
      margin-bottom:12px;
      font-size:$font-size-base;
      //color: $gray-dark;
      @include sansserif_bold;
      .required {
        color:$brand-danger;
        display:inline-block;
        margin-left:5px;
      }
    }
  }
  .required {
    color:$brand-danger;
    display:inline-block;
    margin-left:5px;
  }
  .form-control {
    padding:14px 18px;
    height:auto;
    @include trans;
    background:#fff;
    border:1px solid $gray-light;
    @include sansserif_light;
    color: $gray-dark;
    width:100%;
    font-size: $font-size-base;
    box-shadow:none;
    border-radius:0;
    @include xsmall {
      width:100%;
      //min-width:440px;
    }
    &:hover {
      box-shadow:none;
      border-color:$gray;
    }
    &:focus {
      box-shadow:none;
      background: #fff;
      color: #000;
      border-color:$gray;
    }

  }
  input.form-control,
  textarea.form-control {
    &:hover {
      box-shadow:none;
      border-color:$gray;
    }
    &:focus {
      box-shadow:none;
      color: $gray-base;
      border-color:$gray;
    }
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      opacity:1;
      color:$gray;
      &:hover {
        border:1px solid $gray-light;
      }
    }
    &::-moz-placeholder { /* Firefox 19+ */
      opacity:1;
      color:$gray;
      &:hover {
        border:1px solid $gray-light;
      }
    }
    &:-ms-input-placeholder { /* IE 10+ */
      opacity:1;
      color:$gray;
      &:hover {
        border:1px solid $gray-light;
      }
    }
  }
  textarea {
    padding-top:12px;
    padding-bottom:12px;
  }
  &.form-contact {
    margin-top: 18px;
    label {
      display: none;
    }
  }
}

.btn-accordion {
  padding:8px 16px 4px 16px;
  display:inline-block;
  @include trans;
  text-decoration:none;
  @include heading_regular;
  cursor: pointer;
  margin-bottom:18px;
  border:1px solid $brand-primary;
  background:$brand-primary;
  text-align: center;
  font-size: floor($font-size-base*0.85);
  text-transform: uppercase;
  color:#fff;
  &:hover {
    text-decoration:none;
    background:$brand-primary-darken;
    color: #fff;
    border-color:brand-primary-darken;
  }
}

.btn-add-inline {
  text-decoration: none;
  display: inline-block;
  line-height: 18px;
  &:hover {
    text-decoration: underline;
  }
  span {
    position: relative;
    font-size: floor($font-size-base*0.9);
    padding-left:38px;
    &:before {
      content:'+';
      width:26px;
      height:26px;
      position:absolute;
      top:0;
      left:0;
      background:#000;
      color: #fff;
      font-size: 24px;
      line-height: 26px;
      text-align: center;
      @include sansserif_regular;
      z-index: 555;
      @include large {
        top:-3px;
      }
    }
  }
}
