.breadcrumb {
  padding:0 0 8px 0;
  margin:0 0 $baseline 0;
  list-style: none;
  border-radius:0;
  position:relative;
  overflow:hidden;
  font-size: ceil($font-size-base/1.25);
  > li {
    display:inline-block;
    margin: 0;
    padding: 0;
    font-weight:300;
    &:before {
      content: "";
      padding-right: 0;
    }
    + li:before {
      padding:0 6px;
    }
    a {
      font-weight:400;
      color: $text-color;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  > .active {
    font-weight:300;
  }
}